In [1]:
#Import dependencies and setup
from bs4 import BeautifulSoup
from splinter import Browser
import pandas as pd

In [2]:
#Chrome driver set up

executable_path = {"executable_path":"driver\chromedriver.exe"}
browser = Browser("chrome", **executable_path, headless=False)

In [3]:
#Connecting to NASA site
url = "https://redplanetscience.com"
browser.visit(url)

In [4]:
# Parse Results HTML with BeautifulSoup

html = browser.html
news = BeautifulSoup(html, "html.parser")

### NASA Mars News

In [5]:
# let's get the news title and paragraph 
news_title = news.select_one('.col-md-8 .content_title').get_text()
news_p = news.select_one('.col-md-8 .article_teaser_body').get_text()
print(news_p)

The agency's newest rover will use the first ground-penetrating radar instrument on the Martian surface to help search for signs of past microbial life.

### JPL Mars Space Images - Featured Image

In [7]:
#
url = "https://spaceimages-mars.com"
browser.visit(url)

html = browser.html
images = BeautifulSoup(html, "html.parser")

featured_image = url+"/"+ images.select_one('.headerimage')["src"]
print(featured_image)

https://spaceimages-mars.com/image/featured/mars3.jpg

### Mars Facts

In [17]:
#Use Pandas to convert the data to a HTML table string

url = "https://galaxyfacts-mars.com"
df_list = pd.read_html(url)
table= df_list
for x in df_list:
    print(x.to_html())

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>0</th>
      <th>1</th>
      <th>2</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Mars - Earth Comparison</td>
      <td>Mars</td>
      <td>Earth</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Diameter:</td>
      <td>6,779 km</td>
      <td>12,742 km</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Mass:</td>
      <td>6.39 × 10^23 kg</td>
      <td>5.97 × 10^24 kg</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Moons:</td>
      <td>2</td>
      <td>1</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Distance from Sun:</td>
      <td>227,943,824 km</td>
      <td>149,598,262 km</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Length of Year:</td>
      <td>687 Earth days</td>
      <td>365.24 days</td>
    </tr>
    <tr>
      <th>6</th>
      <td>Temperature:</td>
      <td>-87 to -5 °C</td>
      <td>-88 to 58°C</td>
    </tr>
  </tbody>
</table>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>0</th>
      <th>1</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Equatorial Diameter:</td>
      <td>6,792 km</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Polar Diameter:</td>
      <td>6,752 km</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Mass:</td>
      <td>6.39 × 10^23 kg (0.11 Earths)</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Moons:</td>
      <td>2 ( Phobos &amp; Deimos )</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Orbit Distance:</td>
      <td>227,943,824 km (1.38 AU)</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Orbit Period:</td>
      <td>687 days (1.9 years)</td>
    </tr>
    <tr>
      <th>6</th>
      <td>Surface Temperature:</td>
      <td>-87 to -5 °C</td>
    </tr>
    <tr>
      <th>7</th>
      <td>First Record:</td>
      <td>2nd millennium BC</td>
    </tr>
    <tr>
      <th>8</th>
      <td>Recorded By:</td>
      <td>Egyptian astronomers</td>
    </tr>
  </tbody>
</table>